@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

// palette
$clr-black: #1a1a1a;
$clr-blue: #3954a5;
$clr-white: #fff;
$clr-gold-yellow: #ffdf00;
$clr-gray: #ccc;
$clr-dark-gray: #333;


body 
{
    font-family: 'Raleway', sans-serif;
}

